/*CSS Reset / Normalize*/
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /*Insira a variavel das outras cores inspecionando o modelo do figma*/
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

.all{
    /* padding: 2% 15% 2% 15%; */
    
}

* {
    margin: 0;
    padding: 0;
}

/*Sessão Menu*/

section.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3% 8% 3% 8%;
    font-size: 0.9rem;   
}

.menu__imagem__titulo {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 0.9rem;
}

.menu__list {
    display: flex;
    align-items: center;
    gap: 30px;
}

.menu__list__item__bold {
    font-weight: bold;
}

/*Sessão Title*/

section.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3% 8% 3% 8%;
}

.title__div {
    display: flex;
    align-items: center;
}

.title__container {
    display: flex;
    align-items:flex-start;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.title__bio {
    font-size: 3.2rem;
    font-weight:bolder;
}

.title__subsection {
    font-size: 1.2rem;
    font-weight: 100;
}

.title__network {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 0.9rem;
    font-weight: 100;
}

.title__profile {
    width: 40%;
}

/*Sessão About*/

section.about{
    background-color: #fdd1d8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3% 8% 3% 8%;
}

.about__container {
    display: flex;
    flex-direction: column;
    align-items:first baseline;
    gap: 20px;
    padding: 0% 30% 0% 0%;
}

.about__title {
    font-size: 1.7rem;
    font-weight: bolder;
}

.about__paragraph {
    font-size: 0.97rem;
    font-weight: 100;
}

/*Sessão Skills*/

section.skills {
    background-color: var(--cor-de-fundo);
    padding: 3% 8% 3% 8%;
}

.skills__title {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.skills__block{
    display: flex;
    justify-content: space-between;
}

.skills__box{
    display: flex;
    align-items: end;
    width: 176px; 
    height: 174px; 
    background-color: #fdd1d8;
}

.skills__box ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 7%;
   
}

.skills__box ul li {
    margin: 5px;

}


/*Sessão Hobbies*/

section.hobbies{
    background-color: var(--cor-de-fundo);
    padding: 3% 8% 3% 8%;
}

.hobbies__title {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.hobbies__line {
    display: flex;
    justify-content: space-between;
}

.hobbies__box {
    display: flex;
    align-items: end;
    width: 176px;
    height: 174px;
    background-color: #fdd1d8;
}

.hobbies__box ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 7%;
}

.hobbies__box ul li {
    margin: 5px;
}


/* Experiência Acadêmica*/

section.academic{
    background-color: #fdd1d8;
    padding: 3% 8% 3% 8%;
}

.academic__courses{
    
}

.academic__title {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.academic__courses {
    display: flex;
    justify-content: space-between;
}

.academic__courses__list li:nth-child(1) {   
    display: flex;
    justify-content: center;
    align-items: center;
    width: 368px;
    height: 286px;
    background-color: var(--cor-de-fundo);
    margin-bottom: 5%;
}

.academic__courses__item__img img {
    width: 50%;
}


















/* experiência*/

section.experience{

}

/*Contato*/

section.formcontato{

}

/*footeer*/

section.footer{
   
}

/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/

/*Tablet*/
@media (min-width: 768px) {

/* Menu */

/*title*/

/*Skills*/

/*Hobbies*/

/*Experiências acadêmicas*/

/*Expeirência profissional*/

}

/*Mobile*/
@media (min-width: 425px) {

/*Menu*/

/*Titulo*/

/*Sessão sobre*/

/*Skills*/

/*Hobbies*/
 
/*Formação Acadêmica*/

/*Experiência Profissional*/

 /*Contato*/

/*Footer*/

}
