
:root{

   --cor-de-fundo: #F5F5F5;
   --cor-secundaria: #e7d6e7;
   --cor-terciaria: #a77aa7;
   --cor-de-link: #000;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

* {
    margin: 0;
    padding: 0;
}

/*Sessão Menu*/

section.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3% 5%;
    font-size: 0.9rem; 
    gap: 80px;  
}

.menu__imagem__titulo {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 0.9rem;
}

.menu__list {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 30px;
}

.menu__list__item__bold {
    font-weight: bold;
}

/*Sessão Title*/

section.title{
    display: flex;
    padding: 3% 5%;
}

.title__div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

.title__container {
    display: flex;
    align-items:flex-start;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.title__bio {
    font-size: 2.8rem;
    font-weight:bolder;
}

.title__subsection {
    font-size: 1.2rem;
    font-weight: 100;
}

.title__network {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 0.9rem;
    font-weight: 100;
}

.title__profile {
    width: 50%;
}


/*Sessão About*/

section.about{
    background-color: var(--cor-secundaria);
    padding: 3% 5% 
}

.about__container {
    display: flex;
    flex-direction: column;
    align-items:first baseline;
    gap: 20px;
    padding: 0% 30% 0% 0%;
}

.about__title {
    font-size: 1.7rem;
    font-weight: bolder;
}

.about__paragraph {
    font-size: 0.97rem;
    font-weight: 100;
}

/*Sessão Skills*/

section.skills {
    background-color: var(--cor-de-fundo);
    padding: 3% 8% 3% 8%;
}

.skills__title {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.skills__block{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.skills__box{
    display: flex;
    align-items: end;
    width: 176px; 
    height: 174px; 
    background-color: var(--cor-secundaria);
}

.skills__box ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 7%;
   
}

.skills__box ul li {
    margin: 5px;

}


/*Sessão Hobbies*/

section.hobbies{
    background-color: var(--cor-de-fundo);
    padding: 3% 8% 3% 8%;
}

.hobbies__title {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.hobbies__line {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.hobbies__box {
    display: flex;
    align-items: end;
    width: 176px;
    height: 174px;
    background-color: var(--cor-secundaria);
}

.hobbies__box ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 7%;
}

.hobbies__box ul li {
    margin: 5px;
}


/* Experiência Acadêmica*/

section.academic{
    background-color: var(--cor-secundaria);
    padding: 3% 5%;
}

.academic__title {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.academic__courses {
    display: flex;
    justify-content: center;
    gap: 20px;

}

.academic__courses__list li:nth-child(1) {   
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 12rem;
    background-color: var(--cor-de-fundo);
    margin-bottom: 5%;
}

.academic__courses__list li {
    margin-bottom: 2%;
}

.academic__courses__item__img img {
    width: 40%;
}

/* experiência*/

.experience {
    background-color: var(--cor-de-fundo);
    padding: 3% 8% 3% 8%;
}


.experience__section__title {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

#box__one {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction:row;
    margin-bottom: 5%;
    gap: 80px;
}

#box__two {
    display: flex;
    justify-content:end;
    align-items: center;
    flex-direction: row-reverse;
    margin-bottom: 5%;
    gap: 80px;
}

#box__three {
    display: flex;
    justify-content:start;
    align-items: center;
    flex-direction: row;
    margin-bottom: 5%;
    gap: 80px;
}

#box__four {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row-reverse;
    margin-bottom: 5%;
    gap: 80px;
}

.experience__img {
    width: 50%;
}

.experience__title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
    width: 90%;
}

.experience__text {
    font-size: 0.9rem;
    font-weight: 200;
    margin-bottom: 10px;
}

.experiencia__botao--repo,
.experiencia__botao--demo {
    background-color: var(--cor-secundaria);
    color: var(--cor-de-link);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.experiencia__botao--repo:hover,
.experiencia__botao--demo:hover {
    background-color: var(--cor-terciaria);
    color: var(--cor-de-fundo);
    cursor: pointer;
}

/*Contato*/

section.formcontato {
    background-color: var(--cor-secundaria);
    padding: 3% 8% 3% 8%;
}

#contato {
    display:flex;
    justify-content: space-between;
    gap: 60px;
    margin-top: 7%;
    margin-bottom: 3%;
}

.formcontato__title {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: start;
    margin-bottom: 20px;
}

.formcontato__subtext {
    display: flex;
    white-space: wrap;
    font-size: 0.85rem;
    font-weight: 200;
    margin-bottom: 5px;
    width: 100%;
}

.formcontato__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.formcontato__input,
.formcontato__textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.formcontato__textarea {
    resize: vertical;
}

.formcontato__botao {
    width: 100%;
    padding: 10px;
    background-color: var(--cor-terciaria);
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 2.5%;
}

.formcontato__botao:hover {
    color: var(--cor-secundaria);
    cursor: pointer;
}

/*footeer*/

section.footer{
    background-color: var(--cor-de-fundo);
    padding: 3% 8% 3% 8%;
}

.footer {
    background-color: var(--cor-secundaria);
    padding: 20px;
    text-align: center;
}

.footer__rodape {
    font-size: 0.9rem;
}

.footer__rodape p {
    margin: 5px;
}

/*Smartphones e Tablets*/
@media (max-width: 768px) {

/* Menu */
.menu__list__item {
        display: none;
    }

/*title*/
.title__div {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    align-items: center;
    gap: 30px;

}

.title__bio {
    font-size: 2.2rem;
    font-weight: bolder;
}

.title__subsection {
    font-size: 1.2rem;
    font-weight: 100;
}

.title__network {
    gap: 30px;
    font-size: 0.9rem;
    font-weight: 100;
}

.title__profile {
    width: 60%;
}

/*Skills*/

.skills__block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.skills__block>div {
    flex-basis: calc(33.33% - 20px);
}

.skills__box {
    display: flex;
    align-items: end;
    width: 224px;
    height: 118px;
    background-color: var(--cor-secundaria);
}


/*Hobbies*/

.hobbies__line {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.hobbies__line>div {
    flex-basis: calc(33.33% - 20px);
}

.hobbies__box {
    display: flex;
    align-items: end;
    width: 224px;
    height: 118px;
    background-color: var(--cor-secundaria);
}

.skills__block>div {
    flex-basis: calc(33.33% - 20px);
}

/*Experiências acadêmicas*/

.academic__title {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.academic__courses {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 20px;

}

.academic__courses__list li:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 296px;
    height: 118px;
    background-color: var(--cor-de-fundo);
    margin-bottom: 5%;
}

.academic__courses__list li {
    margin-bottom: 2%;
}

.academic__courses__item__img img {
    width: 40%;
}


/*Expeirência profissional*/

.experiencia__botao--repo,
.experiencia__botao--demo {
    background-color: var(--cor-secundaria);
    color: var(--cor-de-link);
    border: none;
    padding: 5px 5px;
    border-radius: 5px;
}

.experiencia__botao--repo:hover,
.experiencia__botao--demo:hover {
    background-color: var(--cor-terciaria);
    color: var(--cor-de-fundo);
    cursor: pointer;
}

/* Contato */

#contato {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 60px;
    margin-top: 7%;
}

.formcontato__img {
    width: 90%;
}

}